<header class="header">
  <div class="container">
    <div class="col-md-12">
      <h1><a ui-sref="home">blogMV*</a>
      </h1>
    </div>
  </div>
</header>

<div class="jumbotron">
  <div class="container">
    <h1>AngularJS</h1>
    <p>This is an example of the Single Page App built with AngularJS.</p>
  </div>
</div>

<section ui-view="" class="container main"></section>

<footer id="footer">
  <p>
    Made with ❤ by a bunch of geeks from the island of magic |
    <a href="https://twitter.com/zigolis">@zigolis</a>
    <a href="https://twitter.com/fjorgemota">@fjorgemota</a>
    <a href="https://twitter.com/chiefgui">@chiefgui</a>
    <a href="https://twitter.com/rcarvalhojs">@rcarvalhojs</a>
    <a href="https://twitter.com/luizstacio">@luizstacio</a>
  </p>
</footer>
